process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: DOWNLOADGENOME {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: DOWNLOADMOREGENOMES {
        publishDir = [
            path: { "${params.outdir}/additional_genomes" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MAPTRACK {
        publishDir = [
            path: { "${params.outdir}/wig_track" },
            mode: params.publish_dir_mode
        ]
    }

}
